In [ ]:
import pandas as pd

df = pd.read_csv('data/train.csv')

In [21]:
print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [22]:
print(df.tail())

     PassengerId  Survived  Pclass                                      Name  \
886          887         0       2                     Montvila, Rev. Juozas
887          888         1       1              Graham, Miss. Margaret Edith
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch      Ticket   Fare Cabin Embarked
886    male  27.0      0      0      211536  13.00   NaN        S
887  female  19.0      0      0      112053  30.00   B42        S
888  female   NaN      1      2  W./C. 6607  23.45   NaN        S
889    male  26.0      0      0      111369  30.00  C148        C
890    male  32.0      0      0      370376   7.75   NaN        Q

In [23]:
print(df.sample(5))

     PassengerId  Survived  Pclass  \
545          546         0       1
349          350         0       3
831          832         1       2
476          477         0       2
192          193         1       3

                                                Name     Sex    Age  SibSp  \
545                     Nicholson, Mr. Arthur Ernest    male  64.00      0
349                                 Dimic, Mr. Jovan    male  42.00      0
831                  Richards, Master. George Sibley    male   0.83      1
476                          Renouf, Mr. Peter Henry    male  34.00      1
192  Andersen-Jensen, Miss. Carla Christine Nielsine  female  19.00      1

     Parch  Ticket     Fare Cabin Embarked
545      0     693  26.0000   NaN        S
349      0  315088   8.6625   NaN        S
831      1   29106  18.7500   NaN        S
476      0   31027  21.0000   NaN        S
192      0  350046   7.8542   NaN        S

In [24]:
print(df.shape)

(891, 12)

In [25]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

In [26]:
print(df.isnull().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [27]:
print(df.describe())

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

In [28]:
print(df['Sex'].value_counts())

Sex
male      577
female    314
Name: count, dtype: int64

In [32]:
print(df['Embarked'].value_counts())

Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

In [34]:
print(df['Survived'].value_counts())

Survived
0    549
1    342
Name: count, dtype: int64

In [42]:
print(df[df['Fare'] == 0])

     PassengerId  Survived  Pclass                              Name   Sex  \
179          180         0       3               Leonard, Mr. Lionel  male
263          264         0       1             Harrison, Mr. William  male
271          272         1       3      Tornquist, Mr. William Henry  male
277          278         0       2       Parkes, Mr. Francis "Frank"  male
302          303         0       3   Johnson, Mr. William Cahoone Jr  male
413          414         0       2    Cunningham, Mr. Alfred Fleming  male
466          467         0       2             Campbell, Mr. William  male
481          482         0       2  Frost, Mr. Anthony Wood "Archie"  male
597          598         0       3               Johnson, Mr. Alfred  male
633          634         0       1     Parr, Mr. William Henry Marsh  male
674          675         0       2        Watson, Mr. Ennis Hastings  male
732          733         0       2              Knight, Mr. Robert J  male
806          807         0       1            Andrews, Mr. Thomas Jr  male
815          816         0       1                  Fry, Mr. Richard  male
822          823         0       1   Reuchlin, Jonkheer. John George  male

      Age  SibSp  Parch  Ticket  Fare Cabin Embarked
179  36.0      0      0    LINE   0.0   NaN        S
263  40.0      0      0  112059   0.0   B94        S
271  25.0      0      0    LINE   0.0   NaN        S
277   NaN      0      0  239853   0.0   NaN        S
302  19.0      0      0    LINE   0.0   NaN        S
413   NaN      0      0  239853   0.0   NaN        S
466   NaN      0      0  239853   0.0   NaN        S
481   NaN      0      0  239854   0.0   NaN        S
597  49.0      0      0    LINE   0.0   NaN        S
633   NaN      0      0  112052   0.0   NaN        S
674   NaN      0      0  239856   0.0   NaN        S
732   NaN      0      0  239855   0.0   NaN        S
806  39.0      0      0  112050   0.0   A36        S
815   NaN      0      0  112058   0.0  B102        S
822  38.0      0      0   19972   0.0   NaN        S

In [7]:
print(df.dtypes)

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object