In [ ]:
import pandas as pd

# Load CSV
df = pd.read_csv("data/train.csv")

# Quick look at the data
print(df.head())
print(df.info())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

In [2]:
# Drop Irrelevant Colums

df = df.drop(columns=['PassengerId', 'Ticket'])

In [3]:
# Handle missing values

# Age: fill missing with median
df["Age"] = df["Age"].fillna(df["Age"].median())

# Embarked: fill missing with mode
df["Embarked"] = df["Embarked"].fillna(df["Embarked"].mode()[0])

# Cabin: create feature from first letter, fill missing with 'U'
df["CabinLetter"] = df["Cabin"].fillna("U").str[0]
df = df.drop(columns=['Cabin'])

# Extract title from Name
df['Title'] = df['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)
df = df.drop(columns=['Name'])

<>:14: SyntaxWarning: invalid escape sequence '\.'
<>:14: SyntaxWarning: invalid escape sequence '\.'
/var/folders/ph/qt16mchj0gn69_ry7t59zdf40000gn/T/ipykernel_54211/4095842610.py:14: SyntaxWarning: invalid escape sequence '\.'
  df['Title'] = df['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)

In [4]:
# Encode categorical variables
df = pd.get_dummies(df, columns=["Sex", "Embarked", "CabinLetter", "Title"], drop_first=True)

In [5]:
print(df.head())

   Survived  Pclass   Age  SibSp  Parch     Fare  Sex_male  Embarked_Q  \
0         0       3  22.0      1      0   7.2500      True       False
1         1       1  38.0      1      0  71.2833     False       False
2         1       3  26.0      0      0   7.9250     False       False
3         1       1  35.0      1      0  53.1000     False       False
4         0       3  35.0      0      0   8.0500      True       False

   Embarked_S  CabinLetter_B  ...  Title_Major  Title_Master  Title_Miss  \
0        True          False  ...        False         False       False
1       False          False  ...        False         False       False
2        True          False  ...        False         False        True
3        True          False  ...        False         False       False
4        True          False  ...        False         False       False

   Title_Mlle  Title_Mme  Title_Mr  Title_Mrs  Title_Ms  Title_Rev  Title_Sir
0       False      False      True      False     False      False      False
1       False      False     False       True     False      False      False
2       False      False     False      False     False      False      False
3       False      False     False       True     False      False      False
4       False      False      True      False     False      False      False

[5 rows x 33 columns]

In [6]:
# Store processed DataFrame
%store df

Stored 'df' (DataFrame)